body {
    font-family: 'Nunito', sans-serif;
}

/*題目列*/
#side_bar {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    border: 0.5px solid #8B4513;
    padding: 0;
    background-color: rgb(179, 219, 238);
}

/*非題目列部分的內容*/
#content {
    background-color: rgb(245, 238, 209);
    padding-top: 5vh;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-top: 0.5px solid #8B4513;
    border-bottom: 0.5px solid #8B4513;
}

#function_part {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
    border: 0.5px solid #8B4513;
    padding: 0;
    background-color: rgb(219, 157, 154);
}

.clean-answer-btn{
    margin:3vh;
}

.has_answered {
    color:#777777;
}

.answering {
    background-color: #FFD700;
    color:#800000;
    border: 0.5px solid #8B4513;
}

hr {
    border: 0.5px solid #8B4513;
}

/*放置各項內容的部分*/
.conetent_area {
    border: 1px solid #8B4513;
    color:black;
    padding-left:10px;
    padding-right:10px;
    margin-bottom:10px;
    background-color:white;
}
/*原始內容*/
#origin{
    height: 25vh;
    overflow-x: hidden;
    overflow-y: auto;
}
/*引述*/
#quote_content{
    height: 40px;
    color: #777777;
    overflow-x: hidden;
    overflow-y: auto;
}
/*引述來源*/
#quote_origin{
    height: 40px;
    color: #777777;
    overflow-x: hidden;
    overflow-y: auto;
}
/*引述本名*/
#quote_actual{
    height: 40px;
    overflow-x: hidden;
    overflow-y: auto;
}

/*所有按鈕*/
.btn_area{
    margin-top: 30px;
    text-align: center;
}

#function_search{
    padding:3vh;
    height:25vh;
    overflow-x: scroll;
}

#search_inside{
    margin-bottom:20px;
}

.spark{
    background-color:yellow;
    color:red;
}